body{
    position: relative;
    width: 100vw;
    height: 1024px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0;
}


.signup-bg{
    background: linear-gradient(304.7deg, rgba(0, 0, 255, 0.2) 3.59%, rgba(204, 204, 255, 0) 32.45%), linear-gradient(302.79deg, rgba(0, 0, 255, 0.2) 8.03%, rgba(204, 204, 255, 0.2) 52.51%), #CCCCFF;
    background-attachment: fixed;
}

.rewardia{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 80px;
    text-align: center;
    margin-top: 20px;
}

.signup-rewardia{
    color: #FFFFFF;
    text-shadow: 8px 4px 4px rgba(0, 0, 0, 0.25);
}

.shadow{


filter: drop-shadow(-30px 15px 4px rgba(0, 0, 0, 0.25));
}

.rect-one{
    box-sizing: border-box;
width: 463px;
height: 537px;
margin: -30px 0 0 220px ;
border-radius: 100px 0px 0px 100px;
}

.signup-rect-one{

    background: #CCCCFF;
    border: 2px solid #FFFFFF;
}

.rect-two{
    position: relative;
width: 601px;
height: 537px;
left: 524px;
margin: -537px 0px 0 170px ;
}

.signup-rect-two{

    background: #FFFFFF;
    border-radius: 0px 100px 100px 0px;
}

.image{
/* left: 116px;
top: 326px; */
margin: 100px 0 0 25px;
filter: drop-shadow(-15px 10px 4px rgba(32, 32, 32, 0.18));

}

.input-box{
    box-sizing: border-box;

width: 450px;
height: 50px;


border: 2px solid #622F74;
border-radius: 20px;
}

.box-1{
    position: absolute;
    left: 70px;
    top: 80px;
}

.box-2{
    position: absolute;
    left: 70px;
    top: 150px;
}

.box-3{
    position: absolute;
    left: 70px;
    top: 220px;
}
.box-4{
    position: absolute;
    left: 70px;
    top: 290px;
}

.input-txt{
padding: 0 5%;
font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 23px;
line-height: 33px;
display: flex;
align-items: center;

color: #622F74;
}

::placeholder{
    font-weight:none;
color: #85708e;
font-size: 18px;
}

.last-line{
position: absolute;
top:350px;
left:190px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 13px;
line-height: 24px;
display: flex;
align-items: center;
text-align: center;

color: #5C5C5C;

}


.btn{
    position: absolute;
width: 260px;
height: 82px;
left: 861px;
top: 540px;

box-shadow: 10px 7px 10px rgba(33, 33, 177, 0.54);
border-radius: 30px;
}

.sign-btn{
    background: linear-gradient(304.7deg, rgba(0, 0, 255, 0.2) 3.59%, rgba(204, 204, 255, 0) 32.45%), linear-gradient(302.79deg, rgba(0, 0, 255, 0.2) 8.03%, rgba(204, 204, 255, 0.2) 52.51%), #CCCCFF;
}

.btn-txt{
width: 263.66px;
height: 68.55px;
margin: 7px 0 0 50px ;
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 54px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;
}